version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    tty: true
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis

  mysql:
    image: bitnami/mysql:5.7
    container_name: mysql_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_USER=laraveluser
      - MYSQL_PASSWORD=laravelpass
      - ALLOW_EMPTY_PASSWORD=no
    volumes:
      - dbdata:/bitnami/mysql
    tty: true

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    tty: true

volumes:
  dbdata:
  redisdata:
